<div class="flex justify-center my-56 py-10">
<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>
  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'login' %>
  </div>

  <div class="field">
  <%= f.label :name %><br />
  <%= f.text_field :name, autofocus: true, class: 'login' %>
</div>

  <div class="field">
    <%= f.label :password %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "new-password", class: 'login' %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password", class: 'login' %>
  </div>

  <div class="actions">
    <%= f.submit "Sign up", class: 'login' %>
  </div>
<% end %>
</div>

