<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>user post</title>
</head>
<body>
<section class="posts">
  <img class="image" src="<%=@user.photo%>" alt="user_image" />
  <div class="deets">
    <h2><%= @user.name%> </h2>
    <p>Number of posts: <%= @user.posts_counter%> </p>
  </div> 
</section>

<section class="user-container">
  <% @posts.each do |post| %>
    <%= render partial: 'post', locals: {post: post} %>
  <% end %>
  <%= link_to new_user_post_path do %>
  <button class="btn">Create post</button>
  <%end%>
</section> 
</body>
</html>