<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Post</title>
</head>
<body>
<section class="posts-container">
  <h4<%= @post.title %></h4>
  <p>Comments: <%= @post.comments_counter || 0%>, Likes: <%= @post.likes_counter || 0%></p>
  <p><%= @post.text %></p>
  <%= render partial: 'comment', locals: {post: @post, comments: @post.comments}%>
</section> 
</body>
</html>